body {
    margin-left: 100px;
    margin-right: 100px;
    width: 1280px;
    height: 1282px;
    font-family: 'Roboto';
}

a{
    text-decoration: none;
    color: #000;
}

.header-container{
    margin-bottom: 49px;
}

.title-text{
    width: 334px;
    height: 79px;
    margin-top: 63px;
    margin-bottom: 40px;
}
.title-text h1{
    font-size: 80px;
    font-weight: 400;
    color: #000;
}

.title-text span{
    color: #4BCAFF;
}

.top-menu{
    height: 74px;
    background-color: #35444F;
}

.header-navigation-container{
    display: flex;
    align-items: center;
}

.header-navigation-container ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}
.header-navigation-container li{
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 5px;
    font-size: 24px;
    font-weight: 400;
    border-right: 1px solid #FFF;
}

.header-navigation-container a{
    color: #FFF;
    padding-bottom: -15px;
}

.header-navigation-container li:first-child{
    width: 115px;
    border-right: 1px solid #FFF;
}

.header-navigation-container li:last-child{
    width: 115px;
    border-right: 0px;
}

.header-navigation-container li:last-child{
    width: 115px;
}

.main-container{
    display: flex;
    margin-bottom: 51px;
}

.main-navigation-container{
    display: flex;
    align-items: flex-start;
}

.main-navigation-container ul{
    list-style: none;
    border: 1px solid #DBDBDB;
    width: 344px;
    height: 400px;
}

.main-navigation-container li{
    font-size: 27px;
    font-weight: 400;
    line-height: 27px;
    padding: 27px 0px 27px 44px;
}

.main-navigation-container a{
    color: #485863;
}

.main-content-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 37px ;
}

.img-container{
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 882px;
    height: 529px;
    border: 1px solid #DBDBDB;
}

.img-container img{
    width: 320px;
    height: 381px;
}

.main-text-container p{
    padding-left: 50px;
    padding-bottom: 13px;
    color: #2C2C2C;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.footer-container{
    margin: 54px 0px 30px 0px;
}

.bottom-menu{
    height: 69px;
    background-color: rgba(99, 105, 110, 0.48);
}

.footer-navigation-container ul{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
}

.footer-navigation-container li{
    height: 69px;
    display: flex;
    align-items: center;
    color: #0C1927;
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
}

.footer-navigation-container li:first-child{
    padding-left: 40px;
}

.footer-navigation-container span{
    display: flex;
    align-items: center;
    color: #010101;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 100px;
}

button {
    color: white;
    background-color: rgb(17, 81, 141);
    cursor: pointer;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
}
